*{
  top: 0px;
  left: 0px;
}
nav{
  height: 20vh;
  width: 100vw;

  margin-left: -7px;
  background-color: #eeebec;
}
.nav{
  /* height: 5vh; */
  width: 70vw;
  /* outline: 2px solid red; */
  padding: calc(3vh + 1rem) 1.5rem 2rem;
  margin:0 auto;
}
.navelement{
  float: right;
  /* outline: 2px solid red; */
}
.logo{
  display: inline;
}
.navelement li {
  /* outline: 2px solid red; */
    text-decoration: none;
    display: inline-block;
    margin-right: 3rem;
}
.navelement li a{
      text-decoration: none;
      color: black;
      font-size: calc(.8vw + .5em);
      /* font-size: 1em; */
}
.img{
  width: 100%;
  height: auto;
  /* outline: 2px solid red; */
  /* margin-left: 20px; */
}
.img img{
  /* width: 100%; */
  margin-left: -7px;
  width: 100vw;
  height: 100%;
  /* object-fit: cover; */
}
.sub-img {
    /* outline: 2px solid red; */
    height: calc(1vw + 8rem);
    width: calc( 1vw + 9rem);
    position: absolute;
    /* top: calc(-10.5rem - 1vw); */
    top: 0px;
    left: 0px;
    margin-top: 55%;
    margin-left: 70%;
    /* left: 20px; */
    float: right;
    /* margin-right: 6rem; */
    background-image: url(../images/icons.png);
    z-index: 90;
    background-size: 100% 301%;
    background-repeat: no-repeat !important;
    background-position: 0 calc(-6.5rem - 1vw);
    display: inline-block;
}
.sub-img a {
    text-align: center;
    display: block;
    margin-top: 30%;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 27px;
    width: 141px;
    /* border: 2px solid green; */
    text-transform: uppercase;
    font-family: quicksand-bold-webfont;
}
.body{
  /* border: 2px solid red; */
  background-color: #eae7e8;
  height: calc(3vw + 30vh);
  width: 100vw;
  margin-left: -7px;
  margin-top: -7px;
  display: grid;

 grid-template-columns: 5fr 2fr;

}
.body1 {
    /* border: 2px solid green; */
    height: 100%;
    width: 100%;

}
.body2{
  /* border: 2px solid green; */
  height: 100%;
  width: 100%;
  overflow: hidden;

  /* margin-top: 1rem;
  margin-right: 1rem; */
}
  /* display: inline-block;
  z-index: 91; */

.body11{
  height: 76%;
  width: 70%;
  /* border: 2px solid red; */
  margin-top: calc(1vw + 1rem);
  margin-left: 8rem;
  /* display: inline-block; */
}
.body11 h1{
  color: #7A6666;
  display: block;
  /* font-size: 18px; */
  font-size: calc(.5vw + 18px);
  font-weight: normal;
  line-height: 24px;
}
.body11 h2{
  color: #E32A62;
  display: block;
  font-size: calc(.5vw + 30px);
  line-height: 30px;
}
.body11 p{
  color: #7a6666;
  display: block;
  /* font-size: 14px; */
  font-size: calc(.3vw + 14px);
  line-height: 24px;
  width: 560px;
}
/* .fixed{
  position: fixed;
} */
.body21{
  height: 99%;
  width: 64%;
  margin-top: 3px;
  overflow: hidden;

  /* border: 2px solid red; */
}
.body21 img{
  height: 100%;
  width: 100%;
}
.bodyb{
  height: 20vh;
  width: 100vw;
  margin-left: -7px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c8c10d;


}
.bodyb1{
  height: 85%;
  width: 10rem;
  /* border: 2px solid red; */
  overflow: hidden;
  text-align: center;
  font-size: 4rem;
  /* margin: 4rem; */
}
i{
  color: white;
}
@media only screen and (max-width: 882px)
{
.logo img{
  display: block;
  margin: 0px auto;
}
.navelement {
  display: block;
  width: 120%;
  /* border: 2px solid red; */


}
.navelement li{
  margin-right: 2rem;
}
.navelement ul{
  margin-left: 14rem;
}
.sub-img{
  margin-top: 60%;
  margin-left: 41%;
}
.body{
  height: calc(3vw + 64vh);
}
.body2{
  height: 65%;
  margin-top: 11rem;
  margin-left: -24rem;
  width: 170%;
}
.body21{
  width: 100%;
      margin-top: -20px;
}
.bodyb{
      height: 80vh;
      display: flex;
      flex-direction: column;
}
.bodyb1{
margin-top: 1rem;
}

/* .body2{
  width: 322%;
margin-top: 14rem;
margin-left: -32rem;
} */
/* .body21{
      width: 111%;
} */
}
.checkbtn{
  margin: 3rem 5rem;
  font-size: 2rem;
  float: left;
  cursor: pointer;
  display: none;

}
.checkbtn i{
  color: black;
}
#check{
  display: none;
}
@media only screen and (max-width:722px){
.checkbtn{
  display: block;
  margin: 3rem 2rem;
}
.navelement ul{
  position: relative;
  z-index: 530;
  height: 32vh;
  width: 16vw;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  /* border: 2px solid red; */
  margin-left: 10rem;
  float: right;
  display: none;
}
.navelement ul li a{
    display: block;
    color: white;
    text-align: center;
    font-size: 1.4rem;
}
.navelement{
  width: 4rem;
    height: 4rem;
    float: left;
    /* border: 2px solid red; */
}
.navelement li{
  width: 13rem;
height: 3rem;
border: .3px solid white;
background-color: black;

}
.navelement ul li a:hover{
  color: red;
}
.body11 p {
  width: 192px;
}
.body11{
  width: 73%;
  margin-left: 2rem;
}
.body2 {
  height: 45%;
margin-top: 16rem;
margin-left: -8rem;
}
}
}
